@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Jonas API Demo</h1>
    <p class="lead">After running the JonasDemoImport Console Applation, it is ready to test this API demo. It is using ASP.NET Framwwork 4.7.2 with ASP.NET MVC 5.0.</p>
    <p style="color: red">Please kindly change the Connection String to march your Sql Server before your testing. It should be the same as the connection string you updated in the JonasDemoImport project.</p>
    <p>Thank you for your testing!</p>
</div>